<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Payson Demo Shop - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="navbar">
        <nav class="navbar-inner">
            <div class="container">
                <a class="brand" href='@Url.Action("Index", "Checkout")'>
                    <img src="@Url.Content("~/img/payson.png")" alt="Payson"/></a>
                <ul class="nav">
                    <li>@Html.ActionLink("Checkout", "Index", "Checkout")</li>
                    <li>@Html.ActionLink("About", "About", "Checkout")</li>
                </ul>
            </div>
        </nav>
    </header>
    <section id="main" class="container">
        @if (ViewBag.Errors != null)
        {
            foreach (var key in ViewBag.Errors.AllKeys)
            {
            <div class="alert alert-block">
                <h4>Error @key</h4>
                @ViewBag.Errors[key]
            </div>
            }
        }
        @RenderBody()
    </section>
    <footer>
    </footer>
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#newOrderRow").click(function (event) {
                event.preventDefault();
                var x = $("#orderTable tbody tr").length;

                var row = '<tr>';
                row += '<td><input type="text" name="OrderItems[' + x + '].Description" id="OrderItems_' + x + '__Description" value="Item Z"></td>';
                row += '<td><input type="text" name="OrderItems[' + x + '].UnitPrice" id="OrderItems_' + x + '__UnitPrice" class="input-mini" value="10">';
                row += '</td>';
                row += '<td><input type="text" name="OrderItems[' + x + '].Quantity" id="OrderItems_' + x + '__Quantity" class="input-mini" value="1">';
                row += '</td>';
                row += '<td><input type="text" name="OrderItems[' + x + '].TaxPercentage" id="OrderItems_' + x + '__TaxPercentage" class="input-mini" value="0">';
                row += '</td>';
                row += '<td><input type="text" name="OrderItems[' + x + '].Sku" id="OrderItems_' + x + '__Sku" value="test Z"></td>';
                row += '<td class=><button class="btn pull-right removeRow"><i class="icon-minus"></i></button></td>';
                row += '</tr>';

                $("#orderTable tbody").append(row);

                $(".removeRow").click(function (e) {
                    e.preventDefault();
                    $(e.target).closest("tr").remove();
                });
            });
        });

    </script>
</body>
</html>
